body {
    background-image: url(/img/back.jpg)

}


div.img-container{
    text-align: center;
    margin: auto;

}

div.name-container h3 {
    margin: auto;
    font-size: 20px;
    text-align: center;
}

/* KITTENS */

div.cat{
    display: inline-block;
    margin: 20px;
    border: rgba(0, 0, 0, 0.377) solid 4px;
    border-radius: 20px;
    height: 420px;
    width: 230px;
}

div.cat img{
   margin-top: 10px;
   border-radius: 20px;

}

div.cats-container{
    margin: auto;
    margin-top: 50px;
    text-align: center;
  
}

p.cat-name{
    font-size: 20px;
    color: chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* WALLAPOP */

div.wallapop-container{
 margin: auto;
 text-align: center;
 padding: 30px;
 background-color: rgba(78, 78, 78, 0.424);
 width: 60%;
 border-radius: 20px;
 margin-top: 20px;
}

div.photo-container{
    display: inline-block;
    border: 4px solid rgba(44, 44, 44, 0.945);
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(122, 122, 122);
    position: relative;
}

div.photo-container img{
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    display: block;
}

i.heart{
    color: red;
    width: 40%;
    display: inline-block;
    margin-bottom: 10px;
}

i.comment{
    color: black;
    width: 40%;
    display: inline-block;
    margin-bottom: 10px;
}

i.comment:hover{
   transform: scale(1.2);
   transition: 200ms; 
}

i.heart:hover{
    transform: scale(1.2);
    transition: 200ms;
}

i.fire{
    color: orange;
    position: absolute;
    left: 180px;
    top: 20px;

}

i.fire:hover{
    transform: scale(1.4);
    transition: 400ms;
    color:rgb(172, 110, 12);
}

/* FRANJAS */

h1.superior{
    background-color: blue;
    height: 40px;
    width: 100%;
    color: white;
    position: relative;
}

h1.inferior{
    background-color: red;
    color: white;
    height: 40px;
    width: 100%;
    position: absolute;
    margin-top: 450px;
    
}

/* CSS FOREVER */

div.bola{
    height: 100px;
    width: 100px;
    border: 10px solid brown;
    background-color: white;
    border-radius: 60px;
}

div.cuadro{
    
   
    height: 300px;
    width: 50%;
    background-color: brown;
    color: white;
    text-align: center;
    margin: 200px auto;
    position: relative;
    
   
}



div.izarr{
    position: absolute;
    left:-40px;
    top: -25px;

    
    
    
}

div.izab{
    position: absolute;
    top: 230px;
    left:-40px;
    
}

div.derarr{
    position: absolute;
    left: 240px;
    top: -25px;
}

div.derab{
    position: absolute;
    left: 240px;
    top: 240px;    
    
}

/* FONTAWESOME */

i.up{
    background-color: red;
    color: white;
}

i.down{
    background-color: blue;
    color: white;
}

i.left{
    background-color: black;
    color: white;
}

i.right{
    background-color: green;
    color: white;
    margin-bottom: 5px;
}

div.hands{
    height: 210px;
    width: 210px;
    margin: 150px auto;
}

div.hands i{
    font-size: 100px;
}

/* MINAS */

div.fila div{
    height: 100px;
    width: 100px;
    background-color: grey;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

div.campo{
    width: 700px;
    height: 330px;
    text-align: center;
    margin: auto;
}
div.fila{
 width: 100%;
 height: 110px;
}

div.mina:hover{
    background-color: red;
    background-image: url(img/bomb-solid.svg);
}

